
body{
    min-height: 900px;
}

.left-nav {
}

    .left-nav ul {
        padding-left: 12px;
        list-style: none;
    }

    .left-nav li {
        margin-top: 6px;
    }

    .left-nav a {
        color: black;
    }

        .left-nav a:hover {
            color: #2a7bff
        }

.left-nav-head {
    padding: 6px;
    background-color: #2a7bff;
    color: white;
}

.selected-task {
    color: #2a7bff !important;
    text-decoration: underline;
}


.nav-task-wrap {
    overflow: scroll;
    height: 500px;
}

.username{
    color: white !important;
}

.header{
    margin-bottom: 20px;
}

.task-info-header {
    height: 70px;
}

.subtasks-info-conteiner {
    margin-top: 20px;
}

.subtasks-info-header {
    height: 50px !important;
    color: white;
}

.task-btn-wrapp {
    height: 80px !important;
}


.task-btn-create {
    color: white;
}

.task-btn-create-wrapp{
    margin-top: 15px;
}



